
body{
	margin: 0px;
}
img {
	float: left;
	max-width: 20%;
	margin: 0px 10px 10px 0px;
}

a {
	position: absolute;
	top: 0px;
	right: 0px;
}

article {
	position: relative;
	float: left;
	border: solid black 1px;
	box-sizing: border-box;
	width: 50%;
}

#lire {
	text-align: center;
}

article:hover #lire {
	text-decoration: underline;
	text-transform: capitalize;
	transform: scale(2);
}

p{
	margin: 10px;
}

#pointe1:target {
	display: none;
}
#pointe2:target {
	display: none;
}
#pointe3:target {
	display: none;
}
#pointe4:target {
	display: none;
}
